@using MvcStok.Models.Entity;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLURUNLER>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-3">Ürün Listesi</h2>
    <table id="tbl1" class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>ÜRÜN ADI</th>
                <th>MARKA</th>
                <th>KATEGORİ</th>
                <th>FİYAT</th>
                <th>STOK</th>
                <th>SİL</th>
                <th>GÜNCELLE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var urun in Model)
            {
                <tr>
                    <th scope="row">@urun.URUNID</th>
                    <td class="text-center bg-warning">@urun.URUNAD</td>
                    <td class="text-center">@urun.MARKA</td>
                    <td class="text-center bg-success">@urun.TBLKATEGORILER.KATEGORIAD</td>
                    <td class="text-center">@urun.FIYAT</td>
                    <td class="text-center bg-danger">@urun.STOK</td>
                    <td><a href="/URUN/SIL/@urun.URUNID" class="btn btn-danger">SİL</a></td>
                    <td class="d-flex justify-content-center"><a href="/URUN/UrunGetir/@urun.URUNID" class="btn btn-info">GÜNCELLE</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))*@
<a href="/URUN/YENIURUN" class="btn btn-primary">YENİ ÜRÜN EKLE</a>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>

<script>
    $('#tbl1').DataTable();
</script>